.App {
  text-align: center;
}

.loader {
  max-width: 7vw;
  position: absolute;
  top: 40%;
  left: 45%;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.loader img{
  display: block;
  height: auto;
  width: 150%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;  
}
